.panel {
	position: relative;
	max-height: 1000px;

	background: @panel-background;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
	box-sizing: content-box;

	overflow: hidden;

	transition: max-height 0.5s ease;

	.error {
		position: absolute;
		top: 8px;
		right: @spacer;
		padding: @spacer/3 @spacer/2;

		color: @white;
		font-size: 14px;
		font-weight: @semi-bold;

		background: @red;
		border-radius: 2px;
		box-shadow: 0 2px 15px fade(@red, 30%);

		opacity: 0;
		pointer-events: none;
		transform: scale(0);
		transform-origin: 100% 50%;
		transition: opacity 0.2s ease, transform 0.2s ease;

		cursor: pointer;

		&.visible {
			opacity: 1;
			pointer-events: all;
			transform: scale(1);
		}
	}

	.content {
		padding: @spacer;
	}
}